export('read.bif')
export('mvn.score')
export('distance')
export('mc.sample')
export('path.count')
export('rgraph.gauss')
export('simulate.gauss')
export('rgraph')
export('simulate.data')
export('compute.score')
